body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(248, 248, 248);
}

header {
  background-color: #079cf8;
  color: white;
  padding: 1rem 0;
  text-align: center; /* Menengahkan secara horizontal */
}

nav {
  margin-top: 10px; /* Jarak antara judul dan tombol navigasi */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block; /* Mengatur ul agar bisa diatur jaraknya */
}

nav ul li {
  margin: 0 1rem;
  display: inline; /* Menjadikan list item sebagai inline */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem; /* Atur ukuran font untuk tombol navigasi */
}

section {
  padding: 2rem;
  text-align: center;
}
#home {
  background-color: #45413e; /* Warna background */
  background-image: url("bg30.png"); /* Ganti dengan path gambar background Anda */
  background-size: cover; /* Sesuaikan ukuran gambar background */
  background-position: center; /* Posisi gambar background */
}

#home h2,
#home p {
  color: white; /* Mengubah warna teks menjadi putih */
}

.logo {
  width: 150px;
  height: auto;
}

.portfolio-item {
  display: flex;
  width: 100%;
  transition: 3s;
}
.portfolio-item img {
  width: 100%;
}
.wrapper {
  width: 800px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#slide-1:target ~ .portfolio-item {
  margin-left: 0px;
}

#slide-2:target ~ .portfolio-item {
  margin-left: -100%;
}

#slide-3:target ~ .portfolio-item {
  margin-left: -200%;
}

#slide-4:target ~ .portfolio-item {
  margin-left: -300%;
}

#slide-5:target ~ .portfolio-item {
  margin-left: -400%;
}

#slide-6:target ~ .portfolio-item {
  margin-left: -500%;
}

.navigation a {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-color: #dedede;
  font-size: 2;
  border-radius: 50%;
  margin: 3px;
  transition: 1s;
}
.navigation a:hover {
  background-color: #666;
}

.navigation {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .wrapper {
    width: 90%;
  }
}
.order-now {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

footer {
  background-color: #079cf8;
  color: white;
  text-align: center;
  padding: 1rem 0;
  bottom: 0;
  width: 100%;
}
